.pageHeader {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:lightskyblue;
    font-size: 6em;
    background-color: rgb(10, 37, 42);
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10%;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shop {
    font-size: 1.5em;
    text-align: center;
    background-color: lightblue;
    width: 30%;
    padding: 15px;
    margin-top: 20px;
}


body {
    background-color:rgb(38, 73, 84);
}

a:hover {
color: yellow;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}
    







